body{
	background:	#F5F5DC url("https://github.com/syngelsa/SakuSyngelma/blob/master/Images/BG1.jpg?raw=true") repeat-x;
	}
#wrap{
	width:600px;
	margin:0px auto 15px auto;
	font-family:Verdana, Arial, Helvetica;
	font-size:22px;
	color:#FF7F50;
}
/*Header*/
#header{
	height:180px;
	background:url("https://github.com/syngelsa/SakuSyngelma/blob/master/Images/hello.png?raw=true") no-repeat left top;
		clear: both;
	
}

#topbar{
	height:90;
}
/*Header Menu*/
#topmenu {
	display:block;
	list-style:none;
	padding:0 0px 0px 242px;
	float: right;
	width: 500px;
}
#topmenu li {
	display:inline;
}
#topmenu a {
	display:block;
	float:left;
	height:28px;
	margin:0px 0px 0px0px;
	text-decoration:none;
	padding:9px 15px 0px 15px;
	text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
	color:#FF7F50;

}
#topmenu a:hover{
	color:#FF7F50;
	background-color: #DEB887
}


/*Content*/
#content {
	background-color: #FF7F50;
}
#mainpage {
	width:700px;
	float:left;
	padding:5px 5px 5px 0px;
	height:auto
}
#mainpage p {
	line-height:20px;
	margin:10px 0px 22px 0px;
	text-align: justify;
}
#mainpage blockquote {
	background:#efefef;
	display:block; 
	margin:8px;
	font:Georgia, "Times New Roman", Times;
	font-style:italic;}
h1, h2, h3, h4 {
	color:#FF7F50;
	font-weight:bold;
	font-family: Arial, Helvetica;
}
#mainpage h1 {
	font-size:28px;
}
#mainpage h2 {
	font-size:24px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 3px solid #FF7F50;
}
#mainpage h3 {
	font-size:24px;}
#mainpage h4 {
	font-size:24px;}


/*footer*/
#footer {
	margin:0 auto;
	width:685px;
	height:20px;
	padding:10px;
	color:#A52A2A;
	text-align: center;
	background:#F5F5DC
	font-family: Verdana, Arial, Helvetica;
	font-size: 15px;
	clear: both;
}

#topbar{
	height:78px;
}
