body{
	background:	#0000FF url(Images/Header.png) repeat-x;
	}
#wrap{
	width:600px;
	margin:0px auto 15px auto;
	font-family:Verdana, Arial, Helvetica;
	font-size:14px;
	color:#0000FF;
}
/*Header*/
#header{
	height:242px;
	margin:0px auto 20px auto;
	font-family:Verdana, Arial, Helvetica;
	font-size:14px;
	color:#0000FF;
}

#topbar{
	height:90;
}
/*Header Menu*/
#topmenu {
	display:block;
	list-style:none;
	padding:0 0px 0px 242px;
	float: right;
	width: 415px;
}
#topmenu li {
	display:inline;
}
#topmenu a {
	display:block;
	float:left;
	height:28px;
	margin:0px 0px 0px0px;
	text-decoration:none;
	padding:9px 15px 0px 15px;
	text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
	color:#0000FF;
}
#topmenu a:hover{
	color:#0000FF;
	background-color: #F5F5DC
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
	color:#0000FF;
	background-color: #F5F5DC
}

/*Content*/
#content {
	background-color: #F5F5DC
}
#mainpage {
	width:700px;
	float:left;
	padding:5px 5px 5px 0px;
	height:auto
}
#mainpage p {
	line-height:22px;
	margin:10px 0px 22px 0px;
	text-align: justify;
}
#mainpage blockquote {
	background:#efefef;
	display:block; 
	margin:8px;
	font:Georgia, "Times New Roman", Times;
	font-style:italic;}
h1, h2, h3, h4 {
	color:#A52A2A;
	font-weight:bold;
	font-family: Arial, Helvetica;
}
#mainpage h1 {
	font-size:24px;
}
#mainpage h2 {
	font-size:18px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #00008B;
}
#mainpage h3 {
	font-size:20px;}
#mainpage h4 {
	font-size:20px;}


/*footer*/
#footer {
	margin:0 auto;
	width:685px;
	height:20px;
	padding:10px;
	color:#FFFFFF;
	text-align: center;
	background:#F5F5DC
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	clear: both;
}

#topbar{
	height:78px;
}
